* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

header {
  height: 65px;
  width: 100%;
  background-color: #20B2AA;
  position :fixed;
  padding-left:40px;
  padding-right:40px;
  top: 0;
  z-index: 10;
}

.logo {
  width: 160px;
  margin-top: 2px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
  padding: 150px 0 100px 0;
  background-image: url(top.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size:30px;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #CC0000;
    margin-right: 10px;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.extra4 {
 background-color: #87CEFA;
 color: #f0fcff;
 text-align: center;
 padding: 5px 40px;
 line-height: 15px;
}

.extra2 {
 background-color: #20B2AA;
 color: #f0fcff;
 text-align: center;
 padding: 20px 40px;
}

.poin {
 line-height: 30px;
 text-align: left;
 padding: 10px 10px;
 margin: 20px 347px;
}

a {
 text-decoration: none;
 color: #f0fcff;
}

a:hover {
 font-weight: bold;
 color: #85e7ff;
}

a[href$="go.id"] {
 color: white;
 text-decoration: none;
} 
.extra3 {
 background-color: #20B2AA;
 color: #f0fcff;
 text-align: center;
 padding: 2px 5px;
}

.poin {
 line-height: 30px;
 text-align: left;
 padding: 10px 10px;
 margin: 20px 347px;
}
a {
 text-decoration: none;
 color: #f0fcff;
}

a:hover {
 font-weight: bold;
 color: #85e7ff;
}

a[href$="go.id"] {
 color: white;
 text-decoration: none;
} 

ul {
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
}
li {
  color: black;
  height: 350px;
  line-height: 25px;
}
.li1 {
  background-color: #20B2AA;
  height:350px;
  padding-top:25px;
}
.li2 {
  background-color: #ff8db3;
  height:350px;
  padding-top:25px;
}
.li3 {
  background-color: #88e7ce;
  height:350px;
  padding-top:25px;
}
.li4 {
  background-color: #ff8db3 ;
  height:350px;
  padding-top:25px;
}

.flex-list {
  display: flex;
}

/* Tetapkan property flex di element .flex-list li */
.flex-list li {
  flex:auto;
}
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #88e7ce;
  text-align: center;
}

.heading {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#20B2AA;
  text-align:center;
}
